@import "src/style/index";



.i-search{
	background-color:#fbfcfd;
	.i-search-column{
		padding:r(15) r(12);
    @include borderBottom($color:#ddd);
		
		.inputcover{
			position:relative;
			border-radius:30px;
			height:r(32);
			line-height:r(32);
			background-color:#f5f5f5;
			input{
				background:transparent;
				margin:0 r(30);
				width:100%;
				height:r(32);
				line-height:r(32);
				border:0;
			}
			.svg-default,.cross-circle{
				position:absolute;
				width:r(16);
				height:r(16);
				left:r(10);
				top:50%;
				margin-top:r(-8);
			}
			.cross-circle{
				left:auto;
				right:r(10);
				fill:#ccc;
			}
		}
	}
	.s-hot-column{
		padding:r(8) r(12);
		.tit{
			line-height:r(20);
			font-size:r(12);
			color:$base-color-666;
		}
		.s-hot-tag{
			padding:r(8) 0 0;
		}
		.s-item-tag{
			display:inline-block;
			height:r(30);
			line-height:r(30);
			padding:0 r(14);
			margin:0 r(8) r(8) 0;
			font-size:r(13);
			@include borderRadius($radius:40px);
			transition:all .2s;
			&:active{
				background-color:$base-main-color;
				color:#fff;
			}
		}
	}
	.hist-item{
		@include flex;
		position:relative;
		&:after{
      content:"";
      position:absolute;
      bottom:0;
      left:r(30);
      width:100%;
      height:1px;
      @include borderBottom;
      z-index:2;
    }
		.time,.close{
			@include flex-y;
			padding:0 r(10);
			.svg-default{
				width:r(15);
				height:r(15);
			}
		}
		.hist-text{
			@include flex-w;
			@include ellipsis;
      line-height:r(30);
      padding:r(5) 0;

		}
		.cross{fill:#ccc}

	}
}


//搜索联想提示
.s-all-match{
	.s-match-key{
		line-height: r(48);
		margin-left:r(10);
    padding-right: 10px;
    font-size: r(15);
    color: #507daf;
	}
	ul{
		padding-left:r(15);
	}
	.recomitem{
		@include flex;
		// @include flex-x;
		line-height: r(45);
		
		.svg-default{
			width:r(17);
			height:r(17);
			margin-right:r(7);
			opacity:.6;
		}	
	}
	.s-fd{
		font-size:r(15);
		@include flex-w;
		@include borderBottom($color:rgba(0,0,0,.1));
	}
}
//搜索结果
.s-sglst{
	.highlight-name{
		color:#507daf;
	}
}




