<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" contect="网易云音乐,网易云音乐 api,网易云音乐 nodejs,网易云音乐 node.js,react reactjs,redux,同构直出 示例,服务端渲染 SSR,音乐,播放器,网易,下载,播放,DJ,免费,明星,精选,歌单,识别音乐,收藏,分享音乐,音乐互动,高音质,320K,音乐社交,@IT·平头哥联盟,首席填坑官∙苏南,@IT·平头哥联盟-首席填坑官∙苏南">
  	<meta name="description" content="网易云音乐是一款专注于发现与分享的音乐产品,网易云音乐 NodeJS 版 react reactjs,redux,同构直出 示例,@IT·平头哥联盟,首席填坑官∙苏南,@IT·平头哥联盟-首席填坑官∙苏南">
		<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">

		<title>网易云音乐</title>
		<link rel="shortcut icon" href="https://s1.music.126.net/style/favicon.ico?v20180307">
		<link href="/client/css/index.css" rel="stylesheet">
  	<link rel="dns-prefetch" href="//s3.music.126.net"/>
  	<link rel="dns-prefetch" href="//p1.music.126.net"/>

		<script>(window.__setFontSize__=function(){document.documentElement.style.fontSize = Math.min(640, Math.max(document.documentElement.clientWidth, 320)) / 320 * 14 + 'px'})()</script>
	</head>
	<body>
		<div id="app" style="height: 100%;"></div>
    <script>
        window.__initState__ = {};
    </script>
		<script type="text/javascript" src="/client/js/vendors.js"></script>
		<script type="text/javascript" src="/client/js/index.js"></script>
		
	</body>
</html>