@import "src/style/index";

.recommend{overflow:hidden;}
.recommend-item{

  float:left;
  width:33.3%;
  padding-bottom:r(15);
  &:nth-child(3n+1){
    padding-right:2px;
  }
  &:nth-child(3n){
    padding-left:2px;
  }
  &:nth-child(3n+2){
    padding-left:1px;
    padding-right:1px;
  }
  &.fff{
    .re-title{
      color:#fff;
    }
  }
}
.re-link{
  position:relative;
  display:block;

  .re-briefly{
    // position:relative;
    // padding-bottom:100%;
    .briefly-img{
      width:r(122.88);
      height:r(122.88);
    }
  }
  .re-title{
    height:r(36);
    line-height:r(18);
    margin-top:r(6);
    padding: 0 r(2) 0 r(6);
    @include flex;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size:r(12)
  }
  .shadow-suspend{
    position:absolute;
    top:0;
    left:0;right:0;
    background-image:linear-gradient(180deg,rgba(0,0,0,.2),transparent);
    padding: 6px 5px 1px 0;
    text-align:right;
    font-size:r(12);
    color:#fff;
    .svg-default{
      vertical-align: top;
      margin-right:r(5);
      width:r(15);
      height:r(15);
    }
  }
}