$ratio: 750/640;
$browser-default-font-size: 14;
$browser-default-font-size-px: 14px !default;

$base-main-color:					#d43c33;
$base-font-color:					#333;
$base-color-333:					$base-font-color;
$base-color-666:					#666;
$base-color-888:					#888;
$base-color-999:					#999;

$skeleton-color1:					#eff3f7;//#f7fafd;//#f3f8fd;
$skeleton-color2:					#e0ecf7;




