@import "src/style/index";

.recommend-skeleton{
  .sk-item{
    float:left;
    width:33.3%;
    padding-bottom:r(15);
    &:nth-child(3n+2){
      padding-left:3px;
      padding-right:3px;
    }
  }
  .square{
    background:$skeleton-color1;
    width:100%;
    height:r(122.88);
    position:relative;
    &:after{
      content:"";
      position:absolute;
      right:r(6);
      top:r(10);
      left:40%;
      height:r(8);
      background:$skeleton-color2;
    }
  }
  .line{
    height:r(42);
    padding-top:r(5);
    &:after,&:before{
      content:"";
      display:block;
      background:$skeleton-color1;
      height:r(10);
      margin-top:r(8);
    }
    &:after{
      width:60%;
    }
  }

}