@import "src/style/index";



.i-hot{
	.hot-banner{
		padding-left:r(20);
		height:r(145);
		position:relative;
		@include images($url:'https://s3.music.126.net/m/s/img/hot_music_bg_2x.jpg',$size:(100% auto));
		@include flex-y;
		.hot-banner-icon{
			width:r(142);
			height:r(67);
			@include images($url:'https://s3.music.126.net/m/s/img/index_icon_2x.png',$size:(r(166) r(97)));
	    background-position:(r(-24) r(-30));
		}
		.hot-update{
			padding:r(10) 0 0;
			color:rgba(255,255,255,.8);
			font-size:r(12);
		}
		.hot-zindex{
			z-index:2;
		}
		&::after{
			content:"";
			position:absolute;
			left:0;
			bottom:0;
			right:0;
			top:0;
			background:rgba(0,0,0,.2);
		}
	}

	.hot-item{
		&:after{left:r(28)}
		.sgalia{
			color:$base-color-888;
			margin-left:r(4);
		}
		.num{
			@include flex-y;
			width:r(28);
			color:#999;
			font-size:r(17);
			&.num-cred{
				color:$base-main-color;
			}
		}


	}

}
